body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Avenir, sans-serif;
  background-color: black;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  margin: 20px;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}